<div class="row">
  <div class="page-header">
    <div class="row">
      <h4 class="col-sm-5"><%= cliente.getFullName() %></h4>
      <h5 class="text-muted user-id col-sm-6"><%= cliente.id %></h5>
      <button class="go-back hidden-xs btn col-sm-1" type="button"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Cédula: </dt>
        <dd><%= cliente.get('cedula') %></dd>
        <br>
        <dt>Nombres: </dt>
        <dd><%= cliente.get('nombres') %></dd>
        <br>
        <dt>Apellidos: </dt>
        <dd><%= cliente.get('apellidos') %></dd>
        <br>
        <dt>Vehículo: </dt>
        <dd><%= vehiculo.get('placa') %></dd>
        <br>
      </dl>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <div class="panel panel-<%= cliente.get('puntos') > 300 ? "primary" : "success" %>">
        <div class="panel-heading">
          <div class="panel-title text-center">Puntos</div>
        </div>
        <div class="panel-body text-center user-puntos"><%= cliente.get('puntos') %></div>
      </div>
    </div>
  </div>

  <div class="actions row">
    <div class="center-block text-center">
      <button class="edit-client btn btn-warning" type="button" data-client-id="<%= cliente.get('id') %>">
        <span class="glyphicon glyphicon-pencil"></span> Editar 
      </button>
      <button class="delete-client btn btn-danger" type="button" data-client-id="<%= cliente.get('id') %>">
        <span class="glyphicon glyphicon-remove"></span> Eliminar
      </button>
    </div>
  </div>
</section>