<% if (clientes.length <= 0){ %>
<div class="row">
	<div class="page-header">
		<h4 class="col-xs-8">Clientes</h4>
		<div class="hidden-xs col-xs-offset-10 col-sm-offset-9 col-md-offset-10">
			<a href="#/clientes/new" class="btn btn-primary">
				Crear Cliente <span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
		<div class="visible-xs col-xs-offset-10 col-sm-offset-9 col-md-offset-10">
			<a href="#/clientes/new" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-body">
		<h5 class="text-info">La lista de clientes está vacía, crea un cliente nuevo.</h5>
	</div>
</div>
<% } else { %>
<div class="row">
	<div class="page-header">
		<h4 class="col-xs-8">Clientes</h4>
		<div class="hidden-xs col-xs-offset-10 col-sm-offset-9 col-md-offset-10">
			<a href="#/clientes/new" class="btn btn-primary">
				Crear Cliente <span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
		<div class="visible-xs col-xs-offset-10 col-sm-offset-9 col-md-offset-10">
			<a href="#/clientes/new" class="btn btn-primary">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
</div>
<div class="panel panel-info">
	<div class="panel-body">
		<table class="table table-hover">
			<thead>
				<tr class="row">
					<th class="col-xs-3">Cédula</th>
					<th class="col-xs-4">Apellidos</th>
					<th class="col-xs-4 hidden-xs">Nombres</th>
					<th class="col-xs-1"></th>
				</tr>
			</thead>
			<tbody>
				<% _.each(clientes, function(cliente){ %>
				<tr class="row">
					<td class="col-xs-3"><%= cliente.cedula %></td>
					<td class="col-xs-4"><%= cliente.apellidos %></td>
					<td class="col-xs-4 hidden-xs"><%= cliente.nombres %></td>
					<td class="col-xs-1">
						<button class="view-client btn btn-xs btn-secondary" type="button" data-client-id="<%= cliente.id %>"><span class="glyphicon glyphicon-search"></span></button>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>
<% }; %>