<h3 class="text-center">Crear Parqueadero</h3>
<form id="edit-parqueadero-form" class="form-horizontal" accept-charset="utf-8">
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Nombre: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="text" name="nombre" value="<%= parqueadero.nombre %>" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Capacidad: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="number" name="capacidad" value="<%= parqueadero.capacidad %>" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Tarifa Moto: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="number" name="tarifa[moto]" value="<%= parqueadero.tarifa.moto %>" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Tarifa Carro: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="number" name="tarifa[carro]" value="<%= parqueadero.tarifa.carro %>" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  
  <br>
  <div class="line-separator"></div>
  <h4 class="text-center">Horarios</h4>
  <br>

  <div class="day row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Domingo Desde: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d0][from]" value="<%= parqueadero.horario.d0.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Domingo Hasta: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d0][to]" value="<%= parqueadero.horario.d0.to %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-line-separator"></div>

  <div class="day row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Lunes Desde: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d1][from]" value="<%= parqueadero.horario.d1.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Lunes Hasta: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d1][to]" value="<%= parqueadero.horario.d1.to %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-line-separator"></div>

  <div class="day row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Martes Desde: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d2][from]" value="<%= parqueadero.horario.d2.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Martes Hasta: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d2][to]" value="<%= parqueadero.horario.d2.to %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-line-separator"></div>

  <div class="day row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Miércoles Desde: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d3][from]" value="<%= parqueadero.horario.d3.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Miércoles Hasta: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d3][to]" value="<%= parqueadero.horario.d3.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-line-separator"></div>

  <div class="day row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Jueves Desde: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d4][from]" value="<%= parqueadero.horario.d4.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Jueves Hasta: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d4][to]" value="<%= parqueadero.horario.d4.to %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-line-separator"></div>

  <div class="day row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Viernes Desde: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d5][from]" value="<%= parqueadero.horario.d5.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Viernes Hasta: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d5][to]" value="<%= parqueadero.horario.d5.to %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="mini-line-separator"></div>

  <div class="day row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Sábado Desde: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d6][from]" value="<%= parqueadero.horario.d6.from %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Sábado Hasta: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="time" name="horario[d6][to]" value="<%= parqueadero.horario.d6.to %>" required>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>
 
  <br>
  <div class="line-separator"></div>
  <br>

  <div class="latlng row">
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Latitúd: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="text" name="latitude" value="<%= parqueadero.latitude %>" required disabled>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="form-group">
        <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Longitud: </label>
        <div class="col-sm-9 col-md-7 input-group">
          <input class="form-control" type="text" name="longitude" value="<%= parqueadero.longitude %>" required disabled>
          <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
        </div>
      </div>
    </div>
  </div>
  
</form>
<span class="line-separator"></span>
<div class="mapa">
  <div id="map-edit-parqueadero"></div>
</div>
<div class="action-buttons text-center">
  <input id="save-edit-parqueadero" class="btn btn-primary" type="submit" name="" value="Editar">
  <a href="#/parqueaderos" class="btn btn-warning">Cancelar</a>
</div>