<div class="jumbotron">
  <div class="row">
    <h1>Bienvenido a ParkitApp!</h1>
    <p>Con esta aplicacion puedes gestionar parqueaderos y clientes.</p>
    <p>
      <a href="#/parqueaderos/new" class="btn btn-primary btn-lg" role="button">Crear parqueadero</a>
      <a href="#/clientes/new" class="btn btn-primary btn-lg" role="button">Crear cliente</a>
    </p>
  </div>
</div>