<h3 class="text-center">Crear Cliente</h3>
<form id="new-client-form" class="form-horizontal" accept-charset="utf-8">
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Nombres: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="text" name="nombres" value="" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Apellidos: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="text" name="apellidos" value="" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Cédula: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="text" name="cedula" value="" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
</form>
<span class="line-separator"></span>
<h4 class="text-center">Vehículo</h4>
<form id="new-vehiculo-form" class="form-horizontal" accept-charset="utf-8">
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Tipo: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <select class="form-control" name="tipo">
        <option value="carro" selected>Carro</option>
        <option value="moto">Moto</option>
      </select>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>

    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Placa: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="text" name="placa" value="" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Marca: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="text" name="marca" value="" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Modelo: </label>
    <div class="col-sm-9 col-md-5 input-group">
      <input class="form-control" type="number" name="modelo" value="" required>
      <span class="input-group-addon "><span class="glyphicon glyphicon-asterisk"></span></span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 col-md-2 col-md-offset-2">Color: </label>
    <div class="col-sm-9 col-md-5">
      <input class="form-control" type="text" name="color" value="">
    </div>
  </div>
</form>
<div class="action-buttons text-center">
  <input id="save-new-client" class="btn btn-primary" type="submit" name="" value="Crear">
  <a href="#/clientes" class="btn btn-warning">Cancelar</a>
</div>