<% if (parqueaderos.length <= 0){ %>
<div class="row">
  <div class="page-header">
    <h4 class="col-xs-4">Parqueaderos</h4>
    <div class="hidden-xs col-xs-offset-9 col-sm-offset-9 col-md-offset-9">
      <a href="#/parqueaderos/new" class="btn btn-primary">
        Crear Parqueadero <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
    <div class="visible-xs col-xs-offset-9 col-sm-offset-9 col-md-offset-9">
      <a href="#/parqueaderos/new" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <h5 class="text-info">La lista de parqueaderos está vacía, crea un parqueadero nuevo.</h5>
  </div>
</div>
<% } else { %>
<div class="row">
  <div class="page-header">
    <h4 class="col-xs-4">Parqueaderos</h4>
    <div class="hidden-xs col-xs-offset-9 col-sm-offset-9 col-md-offset-9">
      <a href="#/parqueaderos/new" class="btn btn-primary">
        Crear Parqueadero <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
    <div class="visible-xs col-xs-offset-9 col-sm-offset-9 col-md-offset-9">
      <a href="#/parqueaderos/new" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="parqueaderos-buttons text-center">
    <button class="ver-lista btn btn-info active" type="button">Lista</button>
    <button class="ver-mapa btn btn-info" type="button">Mapa</button>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <div class="lista">
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-4">Nombre</th>
            <th class="col-sm-4">Capacidad</th>
            <th class="col-sm-1">Ver</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(parqueaderos, function(parqueadero){ %> 
          <tr class="parqueadero">
            <td class="col-sm-4"><%= parqueadero.nombre %></td>
            <td class="col-sm-4"><%= parqueadero.capacidad %></td>
            <td class="col-sm-1"><button class="ver-parqueadero btn btn-sm" type="button" data-parqueadero-id="<%= parqueadero.id %>"><span class="glyphicon glyphicon-search"></span></button></td>
          </tr>
        <% }); %>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mapa hidden">
      <div id="map"></div>
    </div>
  </div>
</div>
<% }; %>