<div class="row">
  <div class="page-header">
    <div class="row">
      <h4 class="col-sm-5"><%= parqueadero.nombre %></h4>
      <h5 class="text-muted user-id col-sm-6"><%= parqueadero.id %></h5>
      <button class="go-back hidden-xs btn col-sm-1" type="button"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-sm-4">
      <dl class="dl-horizontal">
        <dt>Nombre: </dt>
        <dd><%= parqueadero.nombre %></dd>
        <dt>Capacidad: </dt>
        <dd><%= parqueadero.capacidad %></dd>
        <br>
        <span class="mini-line-separator"></span>
        <h4 class="text-center">Tarifas</h4>
        <dt>Moto: </dt>
        <dd><%= parqueadero.tarifa.moto %></dd>
        <dt>Carro: </dt>
        <dd><%= parqueadero.tarifa.carro %></dd>
        <br>
        <span class="mini-line-separator"></span>
        <h4 class="text-center">Horarios</h4>
        <% _.each(parqueadero.horario, function(dia){ %>
          <dt><%= dia.nombreDia %>: </dt>
          <dd><%= dia.from + " - " + dia.to %></dd>
        <% }); %>
        <br>
      </dl>
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <div id="map-parqueadero"></div>
    </div>
  </div>

  <div class="actions row">
    <div class="center-block text-center">
      <button class="edit-parqueadero btn btn-warning" type="button" data-parqueadero-id="<%= parqueadero.id %>">
        <span class="glyphicon glyphicon-pencil"></span> Editar 
      </button>
      <button class="delete-parqueadero btn btn-danger" type="button" data-parqueadero-id="<%= parqueadero.id %>">
        <span class="glyphicon glyphicon-remove"></span> Eliminar
      </button>
    </div>
  </div>
</section>