<div class="row">
  <div class="page-header">
    <div class="row">
      <h4 class="col-sm-5"><%= vehiculo.get('marca') + " - " + vehiculo.get('modelo') + " - " + vehiculo.get('color')  %></h4>
      <h5 class="text-muted user-id col-sm-6"><%= vehiculo.get('id') %></h5>
      <button class="go-back hidden-xs btn col-sm-1" type="button"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
    </div>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-sm-6">
      <dl class="dl-horizontal">
        <dt>Marca: </dt>
        <dd><%= vehiculo.get('marca') %></dd>
        <br>
        <dt>Modelo: </dt>
        <dd><%= vehiculo.get('modelo') %></dd>
        <br>
        <dt>Color: </dt>
        <dd><%= vehiculo.get('color') %></dd>
        <br>
        <dt>Placa: </dt>
        <dd><%= vehiculo.get('placa') %></dd>
        <br>
      </dl>
    </div>
  </div>

  <div class="actions row">
    <div class="center-block text-center">
      <button class="edit-vehiculo btn btn-warning" type="button" data-vehiculo-id="<%= vehiculo.get('id') %>">
        <span class="glyphicon glyphicon-pencil"></span> Editar 
      </button>
    </div>
  </div>
</section>