<% if (vehiculos.length <= 0){ %>
<div class="row">
  <div class="page-header">
    <h4>Vehículos</h4>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <h5 class="text-info">La lista de vehículos está vacía, crea un vehículo nuevo.</h5>
  </div>
</div>
<% } else { %>
<div class="row">
  <div class="page-header">
    <h4>Vehículos</h4>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr class="row">
          <th class="col-xs-3">Tipo</th>
          <th class="col-xs-3">Placa</th>
          <th class="col-xs-4">Marca</th>
          <th class="col-xs-1"></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(vehiculos, function(vehiculo){ %>
        <tr class="row">
          <td class="tipo-vehiculo col-xs-3"><%= vehiculo.tipo %></td>
          <td class="col-xs-4"><%= vehiculo.placa %></td>
          <td class="col-xs-4 hidden-xs"><%= vehiculo.marca %></td>
          <td class="col-xs-1">
            <button class="view-vehiculo btn btn-xs btn-secondary" type="button" data-client-id="<%= vehiculo.id %>"><span class="glyphicon glyphicon-search"></span></button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
<% }; %>