body {
  background-color: #FAFAFA;
}

#main-container {
  position: relative;
  display: block;
  top: 51px;
  padding: 20px;
  h3 {
    padding-bottom: 20px;
  }
}

#map {
  height: 500px;
  min-width: 300px;
  width: 100%;
  max-width: 890px;
}

#map-parqueadero {
  height: 350px;
  min-width: 300px;
  width: 100%;
  max-width: 500px;
}

#map-edit-parqueadero,
#map-new-parqueadero{
  height: 300px;
  min-width: 300px;
  width: 100%;  
}

.dropdown-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}


.line-separator{
  border-bottom: 1px solid #cccccc;
  margin: 20px auto;
  padding: 0 10%;
  width: 100%;
  height: 1px;
  display: block;
}

.mini-line-separator {
  border-bottom: 1px solid #ececec;
  margin: 10px auto 30px;
  width: 50%;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
  li {
    a {
      padding-right: 20px;
      padding-left: 20px;
      &:hover{
        background-color: #428BCA;
        color: #FFF;
      }
    }
  }
}

.parqueaderos-buttons{
  margin: 0 0 20px;
}

.sidebar{
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F5F5F5;
  border-right: 1px solid #EEE;
  box-sizing: border-box;
}

.tipo-vehiculo{
  text-transform: capitalize;
}

.user-id{
  text-align: right;
}

.user-puntos{
  font-size: 4em;
}


/* LEAFLET MAP STYLES */

.leaflet-container {
  background: #FFF;
}

@media screen and (max-width: 768px) {
}
